:root {
    font-size: calc(1em + 1vw);
    overflow: auto;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-weight: 700;
    box-sizing: border-box;

    
    
}

body {
    text-align: center;
    background: white;
    display: grid;
    grid-template-rows: minmax(10px, auto);
    background: linear-gradient(to bottom, rgb(49, 197, 241), rgb(184, 164, 167));
    
}

/* navbar styles*/
.navbar {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    height: 7vh;
    width: 99.5vw;
    font-size: 0.6em;
    color: black;
}



.logo-name {
    position: absolute;
    top: 10px;
    left: 40px;
    background-image: url("me.jpg");
    background-size: cover;
    padding: 2px;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(4, 98, 141);
    transition: 1000ms;
    
}

.logo-name:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}


nav a {
    float: right;
    justify-content: center;
    color: black; 
    padding: 0.3rem;
    margin: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    
    color: white;
    background-color: black;
    border-radius: 50%;
    text-shadow: none;
}


/*homepage styles*/
.grid-container {
    display: grid;
    grid-row: 2 / 3;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    
}

h2 {
    margin: 100px;
    text-align: left;
    text-shadow: 5px 5px rgb(216, 216, 216);
    
}

.grid-container h2 {
    background: linear-gradient(to right, rgb(135, 143, 146), white)
}

.banner {
    
    text-shadow: 5px 5px rgb(216, 216, 216);
    margin: 35vh;
    text-align: center;
    border-radius: 50%;
    background: rgb(168, 157, 137);
    box-shadow: 10px 5px 2px whitesmoke;
    animation: bg-animation 30000ms linear infinite alternate;
}


.biography {
    grid-row: 3;
    margin: 10vh;
    text-align: left;
}    

.biography2 {
    display: flex;
    padding: 1rem;
}

.biography h2 {
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
    
}


.biography p {
    text-align: left;
    padding: 1rem;
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
}

.biography img {
    border-radius: 50%;
    width: 11em;
    height: 11em;
    margin: 1em;
}

.biography p span {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 5px 0 grey;
    padding: 0.2rem;
}

.contact {
    grid-row: 4;
    margin: 10vh; 
    
}

.contact h2 {
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
}

.contact h3 {
    margin: 3em;
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
    padding: 1rem; 
    
}

.about {
    grid-row: 5;
    margin: 10vh;
    text-align: left;
}

.about h2 {
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
    
}

.about p {
    padding: 1rem;
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
}

.about2 {
    display: flex;
    padding: 1rem;
}

.about iframe {
    width: 11em;
    height: 11em;
    border: 5px solid black;
    margin: 1em;
}



.who-am-i {
    grid-row: 6;
    margin: 10vh;
    text-align: left;
}

.who-am-i h2 {
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
}

.who-am-i  p {
    background: transparent;
    box-shadow: 2px 2px 2px whitesmoke;
    padding: 1rem;
}

.who-am-i img {
    border-radius: 50%;
    width: 11em;
    height: 11em;
    border: 5px solid black;
    margin: 1em;
}

.whoami {
    display: flex;
    align-items: center; 
    
 
}    
/*portfolio styles*/
.portfoliowrapper {
    
    grid-template-rows: minmax(300px, auto);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.title {
    text-shadow: 5px 5px rgb(216, 216, 216);
    padding: 20vh;
    text-align: center;
    box-shadow: 0px 10px 10px rgb(49, 197, 241);
    background: linear-gradient(to bottom, rgb(214, 178, 61), white, rgb(49, 197, 241));
}

.title h1 {
    transform: translateY(-50px);
    
}

.pacmen {
   grid-row: 2;
   color: rgb(3, 3, 94);
   text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
   padding-top: 100px;
   padding-bottom: 100px;
}

.pacmen a {
    font-size: 1.2em;
    color: black;
    text-shadow: 5px 0 white;
}


.pacmen img {
    
    transform: translateX(0px);
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 5px solid black;
}



.eyes {
    grid-row: 3;
    color: rgb(3, 3, 94);
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.eyes a {
    font-size: 1.2em;
    color: black;
    text-shadow: 5px 0 white;
}

.eyes img {
     
    transform: translateX(0px);
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 5px solid black;
}
 
 

.bus-tracker {
    grid-row: 4;
    color: rgb(3, 3, 94);
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.bus-tracker a {
    font-size: 1.2em;
    color: black;
    text-shadow: 5px 0 white;
}
 
.bus-tracker img {
 
    transform: translateX(0px);
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 5px solid black;
    
}
 
button {
    background: red;
    font-size: 1rem;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.5rem;
}

@keyframes bg-animation {
    0%  { transform: translateX(0);
    }
    50% { 
        transform: translateX(80%);
    }   
    100%{ 
        transform: translateX(-80%);
    }
}
